.yasr {
	margin-top: 5px;
}


.yasr a {
	color: #428bca;
	text-decoration: none;
}

.yasr a:hover,.yasr a:focus {
	color: #2a6496;
	text-decoration: underline;
}

.yasr a:active,.yasr a:hover {
	outline: 0;
}
.yasr th {
text-align: left;
}
.yasr {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333333;
}



.yasr_header * {
	/* use position relative and z-index, as this fixes issue where results div overflows the button (do this to align controls), and divs are not clickable anymore*/
	z-index: 8;
	position: relative;
}
.yasr .yasr_btn {
	color: #333;
	border: 1px solid transparent;
	background-color: #fff;
	border-color: #ccc;
	border-width: 1px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	
	cursor: pointer;
	white-space: nowrap;
	padding: 6px 12px;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: button;
	/* margin: 0; */
	overflow: visible;
	box-sizing: border-box;	
}
.yasr .yasr_btn[disabled] {
	cursor: default;
	opacity: .50;
	filter: alpha(opacity=50);
	-webkit-box-shadow: none;
	box-shadow: none;
}
.yasr .yasr_btn:hover, .yasr .yasr_btn:focus, .yasr .yasr_btn.selected {
	color: #333;
	outline:0;
	background-color: #ebebeb;
	border-color: #adadad;
}
.yasr_btnGroup {
	display: inline-block;
	vertical-align: middle;
}
.yasr_btnGroup>button:first-child:not(:last-child) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.yasr_btnGroup>button:last-child:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.yasr_btnGroup>button:not(:first-child):not(:last-child) {
	border-radius: 0;
}


.yasr_btnGroup button+button {
	margin-left: -1px;
}
.yasr_downloadIcon {
	margin-left: 5px;
}
