@import "./variables.scss";
/**need to reset this: the modal-dialog class conflicts with bootstrap**/
.modal-dialog.google-visualization-charteditor-dialog {
	width: auto;
	margin: inherit;
	z-index: $zIndex-offset-modal;
}